body{
  background-color: #96add6;
}

#navigation{
  display:flex;
  justify-content: center;
  background-color: #e85234ce;
  color:#f9b8afaf;
  gap:90px;
}

#navigation > a{
  font-size:x-large;
  padding:10px;
  border: solid 3px rgb(218, 218, 218);
  border-style: outset;
  background-color: #f9b8afaf;
  text-decoration: none;
}

#navigation > a:hover {
  color: rgb(235, 253, 94);
}

table, th,td{
  border-collapse: collapse;
  border:3px solid;
}

#titles>th{
  background-color: #e8523496;
}

tr{
  background-color: #f9b8afaf;
}
